body
{
    background-color: #353535
}
/* _____________________________________________________*/
/* _____________________________________________________*/

.blocprincipal
{
    width: 1100px;
    margin: auto;
}

.zonelog
{
    
    width : 335px;
    background-color : brown;
   
}
